[Unit]
Description=A fearlessly concurrent filesystem watcher daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/watchd -f /etc/watchd/config.toml
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
